<h1>Testsuites#index</h1>
<div class="container">
	<div>
		<button class="glyphicon glyphicon-plus"></button>
	</div>
<div class="row">
  <div class="col-xs-12 col-md-8">Web Test Suites</div>
  <div class="col-xs-6 col-md-4">
  	<ul class="list-inline">
  		<li>Edit</li>
  		<li>Run</li>
  		<li>Export</li>
  		<li>Duplicate</li>
  		<li>Delete</li>
  	</ul>
  </div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-12 col-md-8">
  	<ul class="list-inline">
  		<li class="glyphicon glyphicon-file"></li>
  		<a href=""><li>Run SQl query</li></a>
  	</ul>
  </div>
  <div class="col-xs-6 col-md-4">
  	<ul class="list-inline">
			<a href=""><li class="glyphicon glyphicon-edit"></li></a>
  		<a href=""><li class="glyphicon glyphicon-play"></li></a>
  		<a href=""><li class="glyphicon glyphicon-export"></li></a>
  		<a href=""><li class="glyphicon glyphicon-duplicate"></li></a>
  		<a href=""><li class="glyphicon glyphicon-trash"></li></a>
  	</ul>
  </div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-12 col-md-8">
  	<ul class="list-inline">
  		<li class="glyphicon glyphicon-file"></li>
  		<a href=""><li>Carres Vietnam</li></a>
  	</ul>
	</div>
  	<div class="col-xs-6 col-md-4">
  		<ul class="list-inline">
				<a href=""><li class="glyphicon glyphicon-edit"></li></a>
  			<a href=""><li class="glyphicon glyphicon-play"></li></a>
  			<a href=""><li class="glyphicon glyphicon-export"></li></a>
  			<a href=""><li class="glyphicon glyphicon-duplicate"></li></a>
  			<a href=""><li class="glyphicon glyphicon-trash"></li></a>
  		</ul>
  	</div>
	</div>
</div>